.egg-pattern {
	background-image: url(img/Red_Egg_pattern.svg);
	background-repeat: repeat;
	background-size: 145px;
	background-position: center;
	background-attachment: fixed;
}

.partner-logo-red .gs-containeer {
	position: relative;
}

.partner-logo-red .gs-containeer:after {
	content: "";
	position: relative;
	z-index: -1;
	background: url(img/partner-resource-red.svg) no-repeat center right / contain;
	height: 145px;
	width: 145px;
	@media screen and (min-width: $small-width) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 175px;
		height: 175px;
	}
}

.orange {
	background-color: $orange;
}

.gray {
	background-color: $gray;
}

.navy {
	background-color: $navy;
}

.purple {
	background-color: $purple;
}

.magenta {
	background-color: $magenta;
}

.dark-purple {
	background-color: $dark-purple;
}

.gold {
	background-color: $gold;
}